@import "../base/font";

.header {
   margin-top: 54px;
   display: flex;
   align-items: center;
   justify-content: center;

   .logo {
      display: flex;
      align-items: center;

      span {
         font-size: 40px;
         font-family: 'fdms-400';
         font-weight: 400;
      }
   }

   .navbar-items {
      line-height: 25px;

      .navbar-item {
         padding: 0px 30px;
         font-size: 20px;
         text-decoration: none;
         color: #000;
         font-weight: 500;
      }

      .active {
         color: #C76904;
      }

      .icon-search {
         color: #141414;
         font-size: 21px;
         margin-top: 2px;
      }
   }
}

.main {
   .banner {
      background: url("/img/HOME/banner.png") no-repeat;
      background-size: cover;
      background-position: center;
      width: 100%;
      margin-top: 150px;
      height: 758px;
      border-radius: 100px 0 100px;

      p.solgan {
         color: #fff;
         font-size: 65px;
         font-family: 'fdms-400';
         font-weight: 400;
         padding: 65px 0px 20px 20px;
         line-height: 81.25px;
      }

      p.small-desc {
         font-size: 65px;
         font-size: 22px;
         font-family: 'fInter-500';
         line-height: 33px;
         letter-spacing: 1px;
         font-weight: 500;
         color: #fff;
         padding-left: 20px;
      }

      button {
         margin-top: 20px;
         background-color: #CDA274;
         padding: 26px 49px 26px 48px;
         margin-left: 20px;
         border-radius: 18px;
         outline: none;
         border: none;
         color: #fff;
         font-weight: 600;
         font-size: 18px;
         letter-spacing: 1px;

         i.bi-arrow-right {
            font-weight: bolder;
         }
      }
   }
}

.info-block {
   margin-top: 150px;
   padding: 0 60px;

   .info-block-wrap {
      display: flex;
      justify-content: space-between;

      .info-block__item {
         width: 360px;
         height: 225px;
         text-align: center;

         p.title {
            font-family: 'fdms-400';
            font-size: 25px;
            padding-bottom: 0px;
         }

         p {
            font-size: 22px;
            font-family: 'fJost-400';
            font-weight: 400;
            color: #4D5053;
            line-height: 33px;
            padding-bottom: 40px;
            letter-spacing: 1px;
         }

         a {
            margin-top: 50px;
            text-decoration: none;
            font-size: 18px;
            font-family: 'fJost-400';
            font-weight: 600;
            color: #4D5053;
         }
      }
   }
}

.banner-contact {
   background-image: url("/img/HOME/bannerHalfL.png"), url("/img/HOME/bannerHalfR.png");
   background-repeat: no-repeat, no-repeat;
   background-position: left center, right center;
   background-size: auto 100%;
   height: 700px;
   margin-top: 150px;

   p.solgan {
      color: #fff;
      font-size: 55px;
      font-family: 'fdms-400';
      font-weight: 400;
      padding: 140px 0px 20px 20px;
      line-height: 69px;
   }

   p.small-desc {
      font-size: 22px;
      font-family: 'fJost-400';
      line-height: 33px;
      letter-spacing: 1px;
      font-weight: 500;
      color: #fff;
      padding-left: 20px;
   }

   .contact-info {
      margin-top: 20px;

      .contact-info__item {
         margin-left: 20px;
         display: flex;
         align-items: center;

         i.bi-telephone {
            padding: 25px 30px;
            border-radius: 1600px;
            color: #CDA274;
            background-color: #fff;
            font-size: 30px;
         }

         p {
            font-size: 24px;
            font-family: 'fJost-400';
            line-height: 33px;
            letter-spacing: 1px;
            color: #fff;
            font-weight: 700;

            span {
               font-size: 22px;
            }
         }
      }

      button {
         margin-top: 40px;
         background-color: #CDA274;
         padding: 26px 49px 26px 48px;
         margin-left: 20px;
         border-radius: 18px;
         outline: none;
         border: none;
         color: #fff;
         font-weight: 600;
         font-size: 18px;
         letter-spacing: 1px;

         i.bi-arrow-right {
            font-weight: bolder;
         }
      }
   }
}

.people-thoughts-block {
   margin-top: 150px;
   height: 680px;
   background-color: #D8A876;
   padding: 80px 45px;
   border-radius: 80px;

   .people-thoughts-block-wrap {
      display: flex;
      justify-content: space-between;

      p.title {
         font-size: 50px;
         line-height: 62.5px;
         font-family: 'fdms-400';
         font-weight: 400;
         letter-spacing: 2px;
         color: #fff;
      }

      .people-thoughts-block__item {
         background-color: #fff;
         width: 370px;
         height: 340px;
         margin-top: 20px;
         border-radius: 20px;
         padding: 30px;

         .info {
            .info-heading {
               display: flex;
               align-items: center;

               img {
                  border-radius: 100%;
                  object-fit: cover;
               }

               p {
                  margin-left: 20px;
                  font-weight: bold;
                  font-size: 25px;
                  font-family: 'fdms-400';
               }
               span {
                  font-size: 18px;
                  font-family: 'fJost-400';
                  font-weight: 400;
               }
            }

            p.desc {
               margin-top: 20px;
               font-size: 22px;
               font-family: 'fJost-400';
               font-style: 24px;
               font-weight: 500;
               color: #4D5053;
               letter-spacing: 1px;
               line-height: 33px;
            }

         }
      }
   }
}