@font-face {
    font-family: 'fw-700';
    src: url('../font/Roboto-Bold.ttf') format('truetype');
}
@font-face {
    font-family: 'fw-600';
    src: url('../font/Roboto-SemiBold.ttf') format('truetype');
}
@font-face {
    font-family: 'fw-500';
    src: url('../font/Roboto-Medium.ttf') format('truetype');
}
@font-face {
    font-family: 'fw-400';
    src: url('../font/Roboto-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'italic-400';
    src: url('../font/Roboto-Italic.ttf') format('truetype');
}
@font-face {
    font-family: 'fw-300';
    src: url('../font/Roboto-Light.ttf') format('truetype');
}

@font-face {
    font-family: 'DMSerifDisplay';
    src: url('/font/DMSerifDisplay-Regular.ttf');
}

@font-face {
    font-family: 'fInter-500';
    src: url('/font/Inter.ttc');
} 

@font-face {
    font-family: 'fJost-400';
    src: url('/font/Jost-400-Book.ttf');
} 
