@import "../base/font";
@import "../abstracts/variable";
@import "../abstracts/minxin";

.blog-details-banner {
   @include commonBannerStyles;
   background-image: url("/img/BlogDetails/Banner.png");
}
.main {
   .blog-details-wrapper {
      .blog-details-area {
         margin-top: 115px;
         display: flex;
         justify-content: space-between;
         column-gap: 150px;
         @include mobile {
            flex-wrap: wrap;
            flex-direction: column-reverse;
         }
         &__sidebar {
            min-width: 370px;
            max-width: 400px;
            @include mobile {
               max-width: initial !important;
            }
            .blog-details-search {
               width: 100%;
               height: 100px;
               display: flex;
               border-radius: 20px;
               overflow: hidden;
               background: #f4f0ec;
               padding: 34px;
               display: flex;
               align-items: center;
               @include mobile {
                  margin-top: 64px;
                  height: 80px;
               }
               input {
                  width: 100%;
                  // border-radius: 20px;
                  border: none;
                  outline: none;
                  background-color: transparent;
                  @include FontJostText;
                  color: #cda274;
                  padding-right: 10px;
               }
               i.bi-search {
                  font-size: 24px;
                  color: #cda274;
                  font-weight: bolder;
               }
            }
            &-lastNews {
               margin-top: 50px;
               .heading {
                  @include FontDMSerifTitle;
                  font-size: 25px;
               }
               .sidebar-lastNews-item {
                  margin-top: 35px;
                  position: relative;
                  border-bottom: 1px solid #cda274;
                  .title {
                     @include FontDMSerifTitle;
                     font-size: 20px;
                  }
                  .date {
                     position: absolute;
                     bottom: 0;
                     right: 0;
                     padding-bottom: 5px;
                  }
               }
            }
            &-categories {
               display: flex;
               align-items: center;
               justify-content: center;
               flex-direction: column;
               margin-top: 50px;
               @include mobile {
                  align-items: start;
               }
               span {
                  width: 280px;
                  @include FontDMSerifTitle;
                  font-size: 25px;
               }
               ul {
                  width: 280px;
                  list-style-type: none;
                  padding: 0;
                  margin: 0;
                  @include mobile {
                     width: 100%;
                  }
                  li {
                     @include FontJostText;
                     line-height: 300%;
                     border-bottom: 1px solid #cda274;
                     cursor: pointer;
                     &:last-child {
                        border: none;
                     }
                  }
               }
            }
            &-tags {
               margin-top: 50px;
               @include mobile {
                  margin-top: 64px;
               }
               span {
                  @include FontDMSerifTitle;
                  font-size: 25px;
               }
               ul {
                  list-style-type: none;
                  padding: 0;
                  margin: 0;
                  margin-top: 25px;
                  display: flex;
                  flex-wrap: wrap;
                  column-gap: 10px;
                  li {
                     margin-top: 12px;
                     border-radius: 10px;
                     background-color: #f4f0ec;
                     padding: 9px 30px;
                     cursor: pointer;
                     a {
                        color: #000;
                     }
                     &.active {
                        background-color: #292f36;
                        color: #fff;
                     }
                  }
               }
            }
         }
         &__right-info {
            min-width: 700px;
            @include mobile {
               min-width: initial !important;
            }
            .heading {
               @include FontDMSerifTitle;
               @include mobile {
                  font-size: 32px;
                  margin-bottom: 32px;
               }
            }
            img {
               width: 100%;
               height: 530px;
               @include mobile {
                  height: auto;
               }
            }
            .desc {
               margin-top: 41px;
               @include FontJostText;
               @include mobile {
                  font-size: 14px;
               }
            }
         }
      }

      .blog-details-benefit {
         margin-top: 110px;
         display: flex;
         justify-content: space-between;
         column-gap: 50px;
         @include mobile {
            margin-top: 64px;
            flex-wrap: wrap;
         }
         &-content {
            .heading {
               @include FontDMSerifTitle;
               @include mobile {
                  font-size: 32px;
               }
            }
            .desc {
               @include FontJostText;
               margin-top: 20px;
               @include mobile {
                  font-size: 14px;
               }
            }
            ol {
               color: #cda274;
               @include FontJostText;
               font-size: 20px;
               margin-top: 2px;
               li {
                  margin-top: 32px;
                  @include FontJostText;
                  @include mobile {
                     font-size: 14px;
                  }
               }
               li::marker {
                  color: #cda274;
               }
            }
         }
         img {
            @include mobile {
               margin-top: 32px;
               width: 100%;
            }
         }
      }
      .blog-details-reply {
         width: 900px;
         margin: 0 auto;
         margin-top: 130px;
         margin-bottom: 350px;
         @include mobile {
            width: 100%;
            margin-bottom: 64px;
         }
         .heading {
            @include FontDMSerifTitle;
            font-size: 25px;
         }
         .rowInpt {
            padding: 0;
            margin: 0;
            margin-top: 36px;
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;

            input {
               // width: 100%;
               width: 430px;
               border: none;
               outline: none;
               border-bottom: 1px solid #000;
               margin-top: 50px;
               padding-bottom: 15px;
               @include FontJostText;
               @include mobile {
                  width: 100%;
                  margin-top: 32px !important;
               }
            }
         }
         textarea.text-area {
            margin-top: 50px;
            width: 100%;
            padding-bottom: 150px;
            border: none;
            outline: none;
            @include FontJostText;
            overflow-wrap: break-word;
            border-bottom: 1px solid #000;
            overflow: hidden;
            resize: none;
            @include mobile {
               padding-bottom: 70px;
            }
         }
         .check {
            margin-top: 36px;
            @include FontJostText;
            font-size: 18px;
            color: #cda274;
         }
         button {
            max-width: 220px;
            max-height: 75px;
            margin-top: 65px;
            padding: 26px 54px;
            border-radius: 18px;
            background: #292f36;
            box-shadow: 0px 10px 20px 0px rgba(192, 192, 192, 0.35);
            border: none;
            outline: none;
            @include FontJostText;
            color: #fff;
            font-size: 18px;
            i.bi-arrow-right {
               padding-left: 5px;
               color: #cda274;
               font-weight: bolder;
               font-size: 19px;
            }
            @include mobile {
               display: flex;
               justify-content: center;
               align-items: center;
               height: 50px;
            }
         }
      }
      // end of servicesSingle
   }
}
