@import "../base/font";
@import "../abstracts/variable";
@import "../abstracts/minxin";

.FAQ-banner {
   @include commonBannerStyles;
   background-image: url("/img/FAQ/Banner.png");
}
.main {
   .FAQ-wrapper {
      text-align: center;
      margin-top: 136px;
      height: fit-content;
      padding-bottom: 217px;
      @include mobile {
         padding-bottom: 64px;
      }

      &-item {
         .heading {
            @include FontDMSerifTitle;
            @include mobile {
               font-size: 32px;
               padding-top: 64px !important;
            }
         }
         &-content {
            margin-top: 50px;
            display: flex;
            justify-content: space-between;
            column-gap: 60px;
            @include mobile {
               width: 100%;
               justify-content: center;
               flex-wrap: wrap;
            }
            section {
               .faq {
                  text-align: start;
                  max-width: 585px;
                  border-bottom: 1px solid #292f36;
                  padding-bottom: 32px;
                  margin-top: 20px;
                  cursor: pointer;
                  overflow: hidden;
                  @include mobile {
                     max-width: 100%;
                  }
                  .question {
                     display: flex;
                     justify-content: space-between;
                     align-items: center;
                     @include FontDMSerifTitle;
                     letter-spacing: 0;
                     font-size: 25px;
                     p {
                        margin: 0;
                     }
                     i {
                        transition: transform 0.65s ease;
                     }
                  }
                  .awnser {
                     margin-top: 15px;
                     @include FontJostText;
                     max-height: 0;
                     overflow: hidden;
                     transition: max-height 0.75s ease;
                     @include mobile {
                        font-size: 14px;
                     }
                  }
                  &.active {
                     .awnser {
                        max-height: 100vh;
                        animation: fade 0.75s ease-in-out;
                     }
                     i.bi-chevron-down {
                        transform: rotate(180deg);
                     }
                  }
               }
            }
            img {
               border-radius: 30px;
               height: 720px;
               @include mobile {
                  margin-top: 64px !important;
                  width: 100%;
                  height: auto;
               }
            }
         }
         &:nth-child(2) {
            margin-top: 125px;
            @include mobile {
               margin: 0 !important;
               img {
                  margin: 0 !important ;
               }
            }
         }
      }
   }
}
@keyframes fade {
   from {
      opacity: 0;
   }

   to {
      opacity: 1;
   }
}
