@import "../base/font";
@import "../abstracts/variable";
@import "../abstracts/minxin";

.main {
   @media screen and (max-width: 739px) {
      padding: 0 16px !important;
   }

   .banner {
      background: url("/img/HOME/banner.png") no-repeat;
      background-size: cover;
      background-position: center;
      width: 100%;
      height: 758px;
      border-radius: 100px 0 100px;
      padding: 0 16px;

      @media screen and (max-width: 739px) {
         max-width: 100% !important;
         width: 100%;
         height: 270px;
         border-radius: 50px 0 50px;

         p.solgan {
            font-size: 28px !important;
            line-height: 125% !important;
            padding: 0 !important;
            margin: 0 !important;
            padding-top: 50px !important;
         }
      }

      p.solgan {
         color: #fff;
         font-size: 65px;
         font-family: "DMSerifDisplay";
         font-weight: 400;
         padding-top: 65px;
         line-height: 81.25px;
      }

      p.small-desc {
         font-size: 65px;
         font-family: "fInter-500";
         line-height: 33px;
         letter-spacing: 1px;
         font-weight: 500;
         color: #fff;
         margin-bottom: 56px;

         @media screen and (max-width: 739px) {
            font-size: 12px !important;
            font-style: normal;
            line-height: 150% !important;
            letter-spacing: 0.12px !important;
            margin: 12px 0 !important;
            margin-bottom: 24px !important;
         }
      }
   }
}

.info-block {
   margin-top: 95px;
   padding: 0 60px;

   @media screen and (max-width: 739px) {
      padding: 0 16px !important;
      margin-top: 32px !important;
   }


   .info-block-wrap {
      display: flex;
      justify-content: center;
      column-gap: 24px;
      row-gap: 24px;

      .info-block__item {
         width: 360px;
         height: 225px;
         text-align: center;

         @media screen and (max-width: 739px) {
            max-width: 48% !important;
            width: 190px;
            padding: 0 !important;
         }

         &:hover p,
         &:hover a {
            color: $main-color;
         }

         p.title {
            font-family: "DMSerifDisplay";
            font-size: 25px;
            padding-bottom: 0px;
            text-align: center;

            @media screen and (max-width: 739px) {
               @include FontDMSerifTitle;
               font-size: 25px !important;
               font-style: normal;
               font-weight: 400;
               line-height: 125% !important;
            }

         }

         p {
            transition: .3s ease;
            font-size: 22px;
            font-family: "fJost-400";
            font-weight: 400;
            color: #4d5053;
            line-height: 33px;
            padding-bottom: 40px;
            letter-spacing: 1px;

            @media screen and (max-width: 739px) {
               font-size: 14px !important;
               text-align: center;
               line-height: 150% !important;
               letter-spacing: 0.14px;
            }

         }

         a {
            margin-top: 50px;
            text-decoration: none;
            font-size: 18px;
            font-family: "fJost-400";
            font-weight: 600;
            color: #4d5053;
            transition: .3s ease;

            @media screen and (max-width: 739px) {
               margin-top: 30px !important;
            }

         }
      }
   }
}

.banner-contact {
   background-image: url("/img/HOME/bannerHalfL.png"), url("/img/HOME/bannerHalfR.png");
   background-repeat: no-repeat, no-repeat;
   background-position:
      left center,
      right center;
   background-size: auto 100%;
   height: 700px;
   margin-top: $marginTop;
   padding: 25px;

   @media screen and (max-width: 739px) {
      font-size: 14px !important;
      line-height: 125% !important;
      text-align: justify;
      height: 520px !important;
      margin-top: 30px !important;
   }


   p.solgan {
      color: #fff;
      font-size: 55px;
      font-family: "DMSerifDisplay";
      font-weight: 400;
      padding-top: 140px;
      line-height: 69px;

      @media screen and (max-width: 739px) {
         font-size: 32px !important;
         line-height: 125% !important;
      }
   }

   p.small-desc {
      font-size: 22px;
      font-family: "fJost-400";
      line-height: 33px;
      letter-spacing: 1px;
      font-weight: 500;
      color: #fff;

      @media screen and (max-width: 739px) {
         font-size: 14px !important;
         line-height: 150% !important;
         letter-spacing: 0.14px !important;
      }
   }

   .contact-info {
      margin-top: 20px;

      .contact-info__item {
         display: flex;
         align-items: center;
         margin-bottom: 76px;

         @media screen and (max-width: 739px) {
            margin-bottom: 50px;
         }

         i.bi-telephone {
            padding: 25px 30px;
            border-radius: 1600px;
            color: $main-color;
            background-color: #fff;
            font-size: 30px;

            @media screen and (max-width: 739px) {
               padding: 15px !important;
               font-size: 24px;
            }
         }

         p {
            font-size: 24px;
            font-family: "fJost-400";
            line-height: 33px;
            letter-spacing: 1px;
            color: #fff;
            font-weight: 700;

            @media screen and (max-width: 739px) {
               font-size: 16px !important;

               span {
                  font-size: 14px !important;
               }
            }

            span {
               font-size: 22px;
            }
         }
      }
   }
}

.people-thoughts-block {
   margin-top: 194px;
   height: 680px;
   background-color: #d8a876;
   padding: 80px 25px;
   border-radius: 80px;

   @media screen and (max-width: 739px) {
      height: fit-content;
      border-radius: 70px;
      margin-top: 32px !important;
   }


   .people-thoughts-block-wrap {
      display: flex;
      justify-content: space-between;
      column-gap: 20px;
      // border: 1px solid red;

      p.title {
         font-size: 50px;
         line-height: 62.5px;
         font-family: "DMSerifDisplay";
         font-weight: 400;
         letter-spacing: 2px;
         color: #fff;

         @media screen and (max-width: 739px) {
            font-size: 32px;
            font-style: normal;
            line-height: 125%;
            letter-spacing: 0.64px;
         }
      }

      .people-thoughts-block__item {
         background-color: #fff;
         // max-width: 370px;
         width: 32%;
         height: 340px;
         margin-top: 20px;
         border-radius: 20px;
         padding: 35px;
         padding-top: 53px;

         @media screen and (max-width: 739px) {
            width: 100%;
         }

         .info {
            .info-heading {
               display: flex;
               align-items: center;

               img {
                  border-radius: 100%;
                  object-fit: cover;
               }

               p {
                  margin-left: 20px;
                  font-weight: bold;
                  font-size: 22px;
                  font-family: "DMSerifDisplay";

                  @media screen and (max-width: 739px) {
                     font-size: 25px !important;
                     letter-spacing: 0.25px !important;
                     margin-left: 25px !important;
                  }

                  span {
                     font-size: 18px;
                     font-family: "fJost-400";
                     font-weight: 400;
                  }
               }
            }

            p.desc {
               margin-top: 20px;
               font-size: 22px;
               font-family: "fJost-400";
               font-weight: 400;
               color: #4d5053;
               line-height: 150%;
               letter-spacing: 0.22px;
            }
         }
      }
   }
}

.sponsor {
   margin-top: 188px;
   display: flex;
   justify-content: space-between;
   align-items: center;

   @media screen and (max-width: 739px) {
      padding-left: 50px !important;
      column-gap: 50px;
      margin-top: 60px !important;
      scroll-behavior: auto;
      overflow-y: auto;
      overscroll-behavior-x: contain;
      scroll-snap-type: x mandatory;
      scrollbar-width: none;

      &::-webkit-scrollbar {
         display: none;
      }

      .sponsor-left {
         img {
            padding-left: 50px !important;
         }
      }
   }

}

.appeal {
   margin-top: 202px;
   text-align: center;
   display: flex;
   flex-direction: column;
   align-items: center;

   @media screen and (max-width: 739px) {
      margin-top: 32px;
      padding: 0 16px !important;
   }

   &-title {
      @include fontDMSerif400;
      font-size: 60px;
      line-height: 75px;
      letter-spacing: 0.32px;

      @media screen and (max-width: 739px) {
         font-size: 32px;
         line-height: 125%;
         letter-spacing: 0.64px;
      }
   }

   &-content {
      @include fontJost400;
      font-size: 28px;
      line-height: 150%;
      letter-spacing: 0.16px;
      color: #4d5053;
      max-width: 737px;

      &-sm {
         display: none;
      }

      @media screen and (max-width: 739px) {
         font-size: 14px;
         line-height: 150%;
         letter-spacing: 0.14px;
         font-style: normal;
         display: none;

         &-sm {
            display: block;
         }
      }
   }
}

.list-bedRoom {
   margin-top: 114px;

   @include mobile {
      margin-top: 32px;
      padding: 0 16px !important;
   }


   .list-bedRoom-container {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;

      .list-bedRoom-item {
         max-width: 550px !important;

         @include mobile {
            &:not(:first-child) {
               margin-top: 32px;
            }
         }

         .img-room {
            width: 100%;
            object-fit: cover;
            height: 548px;
            border-radius: 0px 270px 0px 0px !important;

            @include mobile {
               width: 100% !important;
               height: 450px;
            }
         }

         &__inner {
            margin-top: 10px;
            display: flex;
            justify-content: space-between;

            .content {
               p {
                  @include fontDMSerif400;
                  font-size: 25px;
                  line-height: 125%;
                  letter-spacing: 0.5px;
                  color: #292f36;
               }

               span {
                  @include fontJost400;
                  font-size: 22px;
                  line-height: 150%;
                  letter-spacing: 0.22px;
                  color: #4d5053;
               }
            }

            img.icon {
               width: 70px;
               height: 70px;
            }
         }

         &:not(:first-child, :nth-child(2)) {
            margin-top: 36px;
         }
      }
   }
}

.fun-fact {
   margin-top: 324px;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-wrap: wrap;
   column-gap: 70px;

   @include mobile {
      margin-top: 32px;
      column-gap: 0;
      row-gap: 32px;
   }

   &-item {
      width: 254px;

      @include mobile {
         width: 48%;
         margin: 0 auto;
         display: flex;
         justify-content: center;
         margin-top: 32px;
      }

      &__inner {
         text-align: center;

         @include mobile {
            width: 100% !important;
         }

         p {
            @include fontDMSerif400;
            font-size: 85px;
            line-height: 125%;
            letter-spacing: 1.7px;
            color: #cda274;

            @include mobile {
               font-size: 64px;
               line-height: 125%;
               letter-spacing: 1.28px;
            }
         }

         span {
            @include fontJost400;
            font-size: 22px;
            line-height: 150%;
            letter-spacing: 0.22px;
            color: #4d5053;

            @include mobile {
               font-size: 14px;
               font-style: normal;
               line-height: 150%;
               letter-spacing: 0.14px;
            }
         }
      }
   }

   .splash {
      border: 1px solid $main-color;
      height: 130px;

      @include mobile {
         &.splash-sm {
            display: none;
            height: 100% !important;
         }
      }
   }
}

.appeal-custom {
   margin-top: 373px;

   @include mobile {
      margin-top: 32px;
   }

   .appeal-content-custom {
      max-width: 811px;
   }
}

.list-areaRoom-design {
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
   margin-top: 130px;

   @include mobile {
      margin-top: 32px;
   }

   .areaRoom-design-item {
      padding: 21px;
      border-radius: 62px;
      border: 1px solid #e7e7e7;
      box-shadow: 0px 10px 30px 0px rgba(255, 255, 255, 0.25);
      width: 380px;
      cursor: pointer;
      transition: .3s ease;

      @include mobile {
         width: 100%;
      }

      &:hover {
         background-color: #f4f0ec;

         .btn-main-circle {
            background-color: #C76904;
         }
      }

      &__img {
         background:
            url("/img/HOME/kit3.png"),
            lightgray 50% / cover no-repeat;
         width: 100%;
         height: 290px;
         border-radius: 40px 40px 0 0;
         position: relative;

         @include mobile {
            height: 370px !important;
         }

         .shortDesc {
            display: flex;
            justify-content: center;
            align-items: center;
            position: absolute;
            bottom: 5%;
            left: 6%;
            border-radius: 8px 8px 8px 0px;
            background: rgba(0, 0, 0, 0.5);
            width: 124px;
            height: 41px;
            color: #fff;
            @include fontJost400;
            font-size: 16px;
            font-style: normal;
            line-height: 150%;
            letter-spacing: 0.16px;
            text-transform: capitalize;
         }
      }

      &__inner {
         margin-top: 20px;

         p {
            color: #292f36;
            @include fontDMSerif400;
            font-size: 25px;
            font-style: normal;
            line-height: 125%;
            letter-spacing: 0.5px;
         }

         &-footer {
            margin-top: 30px;
            display: flex;
            justify-content: space-between;
            align-items: center;

            span {
               color: #4d5053;
               @include fontJost400;
               font-size: 16px;
               font-style: normal;
               line-height: 150%;
               letter-spacing: 0.16px;
               text-transform: capitalize;
            }

            img {
               width: 52px;
               height: 52px;
               object-fit: cover;
            }
         }
      }
   }
}


.banner-footer {
   margin: 0 !important;
   padding: 0 !important;
   margin-top: 120px !important;
   box-sizing: border-box;
   background-image: url("/img/HOME/banner-footer.svg");
   background-repeat: no-repeat;
   object-fit: cover;
   height: 430px;

   @include mobile {
      margin-top: 32px !important;
      height: 510px !important;
      background-position: center;
      box-shadow: 0px 10px 20px 0px rgba(192, 192, 192, 0.5);
   }

   &-content {
      padding-top: 80px;
      text-align: center;

      .title {
         color: #fff;
         text-align: center;
         @include fontDMSerif400;
         font-size: 50px;
         font-style: normal;
         line-height: 125%;
      }

      .desc {
         margin-top: 11px;
         color: #fff;
         text-align: center;
         @include fontJost400;
         font-size: 22px;
         font-style: normal;
         font-weight: 500;
         line-height: 150%;
         letter-spacing: 0.22px;
      }

      button {
         margin-top: 22px;
         border-radius: 18px;
         background: #cda274;
         box-shadow: 0px 10px 20px 0px rgba(31, 32, 34, .75);
         border: none;
         outline: none;
         padding: 26px 37px;
         color: #fff;
         text-align: center;
         @include fontJost400;
         font-size: 18px;
         font-style: normal;
         font-weight: 600;
         line-height: 125%;
         letter-spacing: 0.36px;
         max-height: 75px;

         i.bi-arrow-right-short {
            stroke-width: 2px;
            stroke: #fff;
            font-size: 24px;
         }
      }
   }
}

.container,
.container-fluid,
.container-lg,
.container-md,
.container-sm,
.container-xl,
.container-xxl {
   width: 100%;
   /* padding-right: var(--bs-gutter-x,.75rem); */
   /* padding-left: var(--bs-gutter-x,.75rem); */
   padding: 0 !important;
   margin-right: auto;
   margin-left: auto;
}

@media screen and (max-width: 739px) {
   .container {
      max-width: 100% !important;
   }
}