@import "../base/font";
@import "../abstracts/variable";
@import "../abstracts/minxin";

.team-banner {
   @include commonBannerStyles;
   background-image: url("/img/Team/Banner.png");
}
.main {
   .error-wrapper {
      margin-top: 202px;
      display: flex;
      justify-content: space-between;
      text-align: center;
      position: relative;
      @include mobile {
         display: flex;
         flex-wrap: wrap;
      }
      img {
         max-width: 750px;
         height: 620px;
         border-radius: 0px 0px 400px 0px;
         // margin-bottom: 410px;
         // border: 1px solid red;
         @include mobile {
            width: 100%;
            height: auto;
         }
      }
      &-message {
         position: absolute;
         top: 70%;
         left: 50%;
         text-align: start;
         padding-bottom: 105px;
         @include mobile {
            position: initial;
            padding: 0 16px !important;
            padding-bottom: 64px !important;
         }
         .heading {
            @include FontDMSerifTitle;
            font-size: 250px;
            color: #cda274;
            @include mobile {
               font-size: 150px;
            }
         }
         .desc {
            margin-top: 15px;
            @include FontDMSerifTitle;
            font-size: 35px;
            @include mobile {
               font-size: 18px;
            }
         }
         a {
            text-decoration: none;
            @include BtnBlack;

            i {
               color: #cda274;
               font-weight: bolder;
               font-size: 26px;
            }
         }
      }
      // end of page 404
   }
}
