@import "../base/font";
@import "../abstracts/variable";
@import "../abstracts/minxin";

.projectDetails-banner {
   @include commonBannerStyles;
   background-image: url("/img/ProjectDetails/Banner.png");
}
.main {
   .projectDetails-wrapper {
      @include mobile {
         padding: 0 16px !important;
      }
      .projectDetails-info {
         margin-top: 120px;
         &_inner {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            @include mobile {
               justify-content: center;
            }
            &-bio {
               display: flex;
               align-items: center;
               ul {
                  width: 100%;
                  list-style-type: none;
                  padding: 55px 84px;
                  max-width: 600px;
                  @include mobile {
                     padding: 0;
                  }
                  li {
                     display: flex;
                     column-gap: 50px;
                     @include FontJostText;
                     padding: 10px 0;
                     & span:first-child {
                        width: 100px;
                        @include FontDMSerifTitle;
                        font-size: 22px;
                        line-height: 150%;
                        letter-spacing: 0.22px;
                     }
                  }
               }
            }
            &-content {
               .title {
                  @include FontDMSerifTitle;
                  @include mobile {
                     margin-top: 64px;
                     font-size: 35px;
                  }
               }
               .desc {
                  @include FontJostText;
                  @include mobile {
                     font-size: 18px;
                  }
               }
            }
         }
      }

      .zoom {
         margin-top: 120px;
         margin-bottom: 235px;
         position: relative;
         max-width: 100%;

         // &.active {
         //    filter: blur(20px);
         //    position: fixed;
         //    width: 100%;
         //    height: 100%;
         //    background-color: #fff173;
         //    transition: 0.5s;
         //    // padding: 20px;
         //    pointer-events: none;
         //    user-select: none;
         // }

         img {
            width: 100%;
            height: 550px;
            border-radius: 100px;
            object-fit: cover;
            @include mobile {
               height: 200px;
               border-radius: 20px;
            }
         }
         // #imgZoom {
         //    position: absolute;
         //    left: 0;
         //    top: 0;
         //    --zoom-x: 50%;
         //    --zoom-y: 50%;
         //    transform: scale(1.5);
         //    pointer-events: none;
         //    clip-path: circle(100px at var(--zoom-x) var(--zoom-y));
         //    opacity: 0;
         //    @include mobile {
         //       display: none;
         //    }
         // }
         .icon-zoom {
            width: 130px;
            height: 130px;
            background-color: #fff;
            border-radius: 100%;
            position: absolute;
            @include absoluteDirection("center");
            cursor: pointer;
            i.bi-search {
               position: absolute;
               text-align: center;
               @include absoluteDirection("center");
               font-size: 36px;
               color: #cda274;
               font-weight: bold;
            }
            @include mobile {
               // display: none;
               width: 80px;
               height: 80px;
            }
         }
      }

      .popUp-container {
         margin-top: 64px;
         position: relative;
         .img-container {
            display: flex;
            justify-content: center;
            align-items: center;
            .image {
               border: 10px solid #fff;
               box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
               overflow: hidden;
               cursor: pointer;
               img {
                  width: 100%;
                  height: 100%;
                  object-fit: cover;
                  transition: 0.2s linear;
               }
               &:hover img {
                  transform: scale(1.1);
               }
               .icon-zoom {
                  width: 130px;
                  height: 130px;
                  background-color: #fff;
                  border-radius: 100%;
                  position: absolute;
                  @include absoluteDirection("center");
                  cursor: pointer;
                  i.bi-search {
                     position: absolute;
                     text-align: center;
                     @include absoluteDirection("center");
                     font-size: 36px;
                     color: #cda274;
                     font-weight: bold;
                  }
                  @include mobile {
                     // display: none;
                     width: 80px;
                     height: 80px;
                  }
               }
            }
         }
         .popup-image {
            position: fixed;
            top: 0;
            left: 0;
            background-color: rgba(0, 0, 0, 0.9);
            height: 100%;
            width: 100%;
            z-index: 1000;
            display: none;
            .close-btn {
               position: absolute;
               top: 0;
               right: 10px;
               font-size: 60px;
               font-weight: bolder;
               color: #fff;
               cursor: pointer;
               z-index: 1000;
            }
            img {
               position: absolute;
               top: 50%; left: 50%;
               transform: translate(-50%, -50%);
               border: 5px solid #fff;
               border-radius: 5px;
               width: 70%;
               object-fit: cover;
               @include mobile {
                  width: 95%;
               }
            }
         }

         &.active {
            .popup-image {
               display: block;
            }
         }
      }

      // end of servicesSingle
   }
}
