@import "../base/font";
@import "../abstracts/variable";
@import "../abstracts/minxin";

.services-banner {
   width: 100%;
   height: 356px;
   box-sizing: border-box;
   background-image: url("/img/Service/Banner.png");
   color: #fff;
   text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
   @include fontDMSerif400;
   font-size: 70px;
   font-style: normal;
   line-height: 125%;
   display: flex;
   align-items: center;
   justify-content: center;
}
.main {
   .services-wrapper {
      .info-block-wrap {
         display: flex;
         justify-content: space-between;
         flex-wrap: wrap;
         row-gap: 171px;
         // a.info-block-link {
         //    &:nth-child(n + 4) {
         //       margin-top: 88px;
         //    }
         .info-block__item {
            a {
               transition: 0.5s ease 0.25s;
            }
            P {
               transition: 0.65s ease;
            }
            &:hover p,
            &:hover a {
               color: #c76904;
            }
         }
      }
   }

   .section-slogan {
      margin-top: 293px;
      text-align: center;
      .title {
         @include FontDMSerifTitle;
      }
      .content {
         @include FontJostText;
      }
   }

   .section-content {
      margin-top: 156px;
      &-item {
         position: relative;
         display: flex;
         justify-content: space-between;
         column-gap: 93px;
         &__inner {
            transform: translateY(50%);
            .title {
               font-size: 35px;
               @include FontDMSerifTitle;
               font-size: 35px;
            }
            .content {
               @include FontJostText;
            }
         }
         .numTitle {
            position: absolute;
            top: 0;
            right: 0;
            @include fontDMSerif400;
            color: #c76904;
            font-size: 90px;
            font-style: normal;
            line-height: 150%;
            letter-spacing: 0.9px;
         }
      }
      &-item:nth-child(odd) .numTitle {
         @include absoluteDirection("right");
      }
      &-item:nth-child(even) .numTitle {
         @include absoluteDirection("left");
      }
   }
}

.main .section-content-item__inner {
   transform: translateY(0);
}