@import "../base/font";
@import "../abstracts/variable";
@import "../abstracts/minxin";

.serviceSingle-banner {
   background-image: url("/img/ServiceSingle/Banner.svg");
  @include commonBannerStyles;
}
.main {
   .servicesSingle-wrapper {
      @include mobile {
         margin-top: 130px !important;
      }
      .section-content {
         text-align: center;
         @include mobile {
            margin-top: 180px !important;
         }
         @include tablet-mobile {
            margin-top: 30px !important;
         }
         .title {
            @include FontDMSerifTitle;
            @include mobile {
               font-size: 32px !important;
            }
         }
         .desc {
            margin-top: 48px;
            @include FontJostText;
            font-size: 25px;
            color: #cda274;
            letter-spacing: 0.25px;
            @include mobile {
               font-size: 14px;
            }
         }
         .content-wrap {
            margin-top: 85px;
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            // column-gap: 60px;
            @include mobile {
               row-gap: 60px;
               margin-top: 34px;
            }
            p {
               @include FontJostText;
               width: 587px;
               width: 48%;
               text-align: start;
               @include mobile {
                  width: 100%;
                  font-size: 14px;
               }
            }
         }
      }

      .previewVideo {
         margin-top: 208px;
         position: relative;
         background-image: url("/img/ServiceSingle/imgVideo.svg");
         background-repeat: no-repeat;
         height: 600px;
         width: 100% !important;

         @include mobile {
            margin-top: 64px;
            height: 260px;
            background-position: center;
            border-radius: 20px;
         }
         @include tablet-mobile {
            margin-top: 30px !important;
            background-size: 100% 100%;
         }

         .icon-play {
            position: absolute;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;

            @include absoluteDirection("center");

            .play {
               position: relative;
               width: 130px;
               height: 130px;
               background-color: rgba(0, 0, 0, 0.83);
               display: flex;
               justify-content: center;
               align-items: center;
               border-radius: 50%;
               box-shadow: 0 15px 25px #a1774f;

               @include mobile {
                  width: 80px;
                  height: 80px;
               }

               &::before {
                  content: "";
                  position: absolute;
                  border: 45px solid #cda274;
                  border-top: 35px solid transparent;
                  border-bottom: 35px solid transparent;
                  border-right: 0px solid transparent;
                  transform: translateX(10px);
                  transition: 0.5s;

                  @include mobile {
                     border: 25px solid #cda274;
                     border-top: 15px solid transparent;
                     border-bottom: 15px solid transparent;
                     border-right: 0px solid transparent;
                     transform: translateX(5px);
                  }
               }
            }
         }

         .clip {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: 9999;
            background-color: rgba(0, 0, 0, 0.95);
            display: flex;
            justify-content: center;
            opacity: 0;
            pointer-events: none;
            transition: all 0.3s;

            .closeBtn {
               position: absolute;
               top: 10%;
               right: 10%;
               font-size: 24px;
               cursor: pointer;
               color: #fff;
               z-index: 99999;
            }

            video {
               display: flex;
               align-items: center;
               width: 80%;
               height: 680px;
               margin: auto 0;
               transform: scale(0);
               outline: none;
               transition: all 0.3s;
            }

            &.show {
               pointer-events: all;
               opacity: 1;           

               video {
                  transform: scale(1);
               }
            }
         }
      }

      .list-benefit {
         margin-top: 135px;
         display: flex;
         justify-content: space-around;
         align-items: center;
         @include mobile {
            flex-direction: column;
            align-items: start;
            flex-wrap: wrap;
            row-gap: 32px;
            margin-top: 64px;
         }
         @include tablet-mobile {
            margin-top: 30px !important;
         }
         span {
            width: 1px;
            height: 350px;
            background: #cecece;
            @include mobile {
               width: 50% !important;
               margin: 0 auto;
               height: 2px !important;
            }
         }
         &-item {
            .title {
               @include FontDMSerifTitle;
               @include mobile {
                  font-size: 32px;
               }
            }
            ol {
               color: #cda274;
               @include FontJostText;
               font-size: 20px;
               li {
                  margin-top: 23px;
                  @include FontJostText;
                  line-height: 270%;
                  @include mobile {
                     font-size: 14px;
                     line-height: 270%;
                     letter-spacing: 0.14px;
                  }
               }
               li::marker {
                  color: #cda274;
               }
            }
         }
      }

      .section-content {
         margin-top: 247px;
         @include mobile {
            margin-top: 64px !important;
         }
         &-item {
            display: flex;
            justify-content: space-between;
            &__inner {
               width: 520px;
               text-align: start;
               padding-top: 0;
               @include mobile {
                  margin-top: 100px;
               }
               .title {
                  @include FontDMSerifTitle;
               }
               .content {
                  // margin-top: 11px;
                  @include FontJostText;
               }
               button {
                  margin-top: 32px;
                  height: 75px;
                  @include BtnBlack;
               }
            }
         }
      }
      // end of servicesSingle
      .fun-fact {
         margin-bottom: 302px;

         @include mobile {
            .fun-fact-item__inner p {
               font-size: 64px !important;
            }
         }
         .splash {
            height: 100px;
         }
         @include tablet-mobile {
            margin: 64px 0;
         }
      }
   }
}