@import "../base/font";
@import "../abstracts/variable";
@import "../abstracts/minxin";

.services-banner {
   background-image: url("/img/Service/Banner.png");
   @include commonBannerStyles;
}
.main {
   .services-wrapper {
      margin-top: 200px;
      @include tablet-mobile {
         margin-bottom: 64px;
         margin-top: 50px;
      }

      .info-blocks {
         &-wrap {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            row-gap: 171px;
            @include tablet-mobile {
               row-gap: 42px;
            }
            .info-block__item {
               width: 32.6%;
               display: flex;
               flex-direction: column;
               text-align: center;
               @include mobile {
                  width: 100% !important;
                  padding: 0 30px;
               }
               @include tablet-mobile {
                  width: 45%;
               }
               .title {
                  @include FontDMSerifTitle;
                  font-size: 25px;
                  @include mobile {
                     font-size: 25px;
                     line-height: 125%;
                  }
               }
               a {
                  // margin-top: 50px;
                  text-decoration: none;
                  font-size: 18px;
                  font-family: "fJost-400";
                  font-weight: 600;
                  color: #4d5053;
                  transition: 0.3s ease;
               }
               P {
                  transition: 0.65s ease;
                  @include FontJostText;
                  font-size: 22px;
                  @include mobile {
                     font-size: 22px !important;
                     min-width: 360px;
                     line-height: 150%;
                     letter-spacing: 0.22px;
                     &:nth-child(2) {
                        padding: 0;
                        margin: 0;
                        padding-bottom: 50px;
                     }
                  }
               }
               &:hover p,
               &:hover a {
                  color: #c76904;
               }
            }
         }
      }
   }

   .section-slogan {
      margin-top: 293px;
      text-align: center;
      @include tablet-mobile {
         margin-top: 64px;
      }
      .title {
         @include FontDMSerifTitle;
      }
      .content {
         @include FontJostText;
      }
   }

   .section-content {
      // display: none;
      overflow: hidden;
      margin-top: 156px;
      @include tablet-mobile {
         margin-top: 30px;
      }
      &-item {
         position: relative;
         display: flex;
         justify-content: space-between;
         flex-wrap: wrap;
         align-items: center;
         column-gap: 93px;
         margin-top: 121px;
         &:nth-child(even) {
            flex-direction: row-reverse;
            .numTitle {
               left: 0;
            }
         }

         @include tablet-mobile {
            margin-top: 64px;
            img {
               width: 100%;
            }
            &:nth-child(even) {
               flex-direction: column-reverse;
               img {
                  margin-top: 42px;
               }
            }
         }
         &__inner {
            padding-top: 150px;
            @include tablet-mobile {
               padding: 0;
               margin-top: 32px;
               &:nth-child(even) {
                  width: 100%;
               }
            }
            .title {
               font-size: 35px;
               @include FontDMSerifTitle;
               font-size: 35px;
            }
            .content {
               @include FontJostText;
            }

            .numTitle-sm {
               display: none;
               @include fontDMSerif400;
               color: #c76904;
               font-size: 90px;
               font-style: normal;
               letter-spacing: 0.9px;
            }
            @include tablet-mobile {
               .numTitle-sm {
                  display: block;
               }
            }
         }
         @include tablet-mobile {
            .numTitle {
               display: none;
            }
         }
         .numTitle {
            position: absolute;
            top: 0;
            right: 0;
            @include fontDMSerif400;
            color: #c76904;
            font-size: 90px;
            font-style: normal;
            line-height: 0;
            letter-spacing: 0.9px;
         }
      }
   }
}

.main .section-content-item__inner {
   transform: translateY(0);
}
