@import "../base/font";
@import "../abstracts/variable";
@import "../abstracts/minxin";

.team-banner {
   @include commonBannerStyles;
   background-image: url("/img/Team/Banner.png");
}
.main {
   .team-wrapper {
      margin-top: 90px;
      margin-bottom: 315px;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      text-align: center;

      a.team-wrapper-link {
         text-decoration: none !important;
         @include mobile {
            width: 48%;
            margin-top: 32px;
            &:nth-child(2),
            &:first-child {
               margin-top: 64px;
            }
         }
         .team-wrapper-item {
            max-width: 285px;
            img {
               height: 455px;
               border-radius: 40px;
               @include mobile {
                  width: 100%;
                  height: auto;
               }
            }
            &__inner {
               margin-top: 20px;
               padding: 0 20px;
               .name {
                  @include FontDMSerifTitle;
                  font-size: 25px;
               }
               .info {
                  @include FontJostText;
                  letter-spacing: 0.18px;
               }
               .social {
                  margin-top: 20px;
                  display: flex;
                  justify-content: center;
                  column-gap: 37px;
                  i {
                     color: #292f36;
                     color: #292f36;
                     font-size: 18px;
                     font-style: normal;
                     font-weight: 400;
                     line-height: 120%;
                     letter-spacing: 0.99px;
                     text-transform: uppercase;
                  }
               }
            } 
         }
         &:nth-child(n + 5) {
            margin-top: 50px;
         }
      }
      // end of servicesSingle
   }
}
