@import "../base/font";
@import "../base/font";
@import "../abstracts/variable";
@import "../abstracts/minxin";

.wrapper {
  margin-top: 176px;
}

.scroll-top {
  width: 60px;
  height: 60px;
  background-color: $main-color;
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.25);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  color: #ffffff;
  border-radius: 100px;
  z-index: 99;
  cursor: pointer;
  text-decoration: none;
  opacity: 0;
  visibility: hidden;
  transition: 0.35s;
  position: fixed;
  right: 60px;
  bottom: 50px;

  @media screen and (max-width: 1024px) {
    width: 50px !important;
    height: 50px !important;
    font-size: 22px !important;
    right: 30px !important;
    bottom: 40px !important;
  }

  i {
    color: #fff;
    font-size: 52px;
  }

  &:hover {
    background-color: $main-hover-btn-sm;
    transform: scale(1.2);
  }

  &.active {
    opacity: 1;
    visibility: visible;
    animation: slideFromRight 0.35s ease;
  }
}

@keyframes slideFromRight {
  from {
    opacity: 0;
    right: 0px;
  }

  to {
    opacity: 0.85;
    right: 60px;

    @media screen and (max-width: 1024px) {
      right: 30px !important;
    }
  }
}

.header {
  position: fixed !important;
  top: 0;
  width: 100%;
  z-index: 1000;
  background-color: #fff;

  nav {
    position: fixed;
    top: 0;
    left: 0;
    // height: 70px;
    width: 100%;
    background-color: #fff;
    padding: 55px 0 35px !important;
    z-index: 100;
    transition: 0.3s;

    @include mobile {
      padding: 0 !important;
      // background-color: red;
      // background-color: rgba(181, 142, 100, 1);
      background-color: #d2b48c;
    }

    &.sticky {
      padding: 20px !important;
      box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

      @include mobile {
        padding: 10px !important;
        box-shadow:
          rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
          rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
      }
    }

    .nav-bar {
      position: relative;
      height: 100%;
      background-color: #fff;
      margin: 0 auto;
      padding: 0 30px;
      display: flex;
      align-items: center;
      justify-content: space-between;

      @media screen and (max-width: 739px) {
        // display: none;
        // background-color: $main-hover-color;
        background-color: #d2b48c;
        display: flex;
        flex-direction: column;
      }

      // Responsive SideBar: start
      .sidebarOpen {
        color: #fff;
        font-size: 28px;
        padding: 5px;
        cursor: pointer;
        display: none;

        @include mobile {
          display: block;
          position: absolute;
          left: 10px;
          top: 50%;
          transform: translateY(-50%);
        }
        @include tablet-mobile {
          display: block;
          position: absolute;
          right: 10px;
          top: 50%;
          transform: translateY(-50%);
          color: #000;
        }
      }

      // Responsive SideBar :end
      .logo {
        display: flex;
        align-items: center;
        column-gap: 10px;

        @include mobile {
          a {
            filter: drop-shadow(7px 2px 3px rgba(0, 0, 0, 0.25));
          }

          img {
            width: 35px;
            filter: drop-shadow(5px 2px 3px rgba(0, 0, 0, 0.25));
          }
        }

        a {
          @include FontDMSerifTitle;
          font-size: 40px;
          text-decoration: none;

          @include mobile {
            font-size: 36px;
            color: #fff;
          }
        }
      }

      .wrapper-nav {
        display: flex;
        align-items: center;
        column-gap: 70px;

        @include tablet-mobile {
          display: none;

          &.active {
            display: block;
            position: fixed;
            flex-direction: column;
            background-color: #d2b48c;
            width: 100%;
            height: 100%;
            animation: slideIn 0.35s ease-in;
            left: 0;
            top: 0;

            .menu {
              z-index: 99;

              .logo-toggle {
                padding: 16px;
                display: flex;
                justify-content: space-between;
                padding-top: 30px;
              }

              .nav-links {
                margin: 0 !important;
                padding: 0;
      
                li a {
                  color: #fff;
                  font-size: 25px;
                  display: block;
                  // padding: 10px 0;
                }
              }
            }

            .search-sm {
              margin-top: 20px;
              display: block;

              .form-search-sm {
                width: 90%;
                margin: 0 auto;
                position: relative;
                height: 50px;

                input {
                  width: 100%;
                  height: 100%;
                  outline: none;
                  border: none;
                  padding: 10px 35px 10px 10px;
                  border-radius: 5px;
                }

                i.bx-search {
                  position: absolute;
                  right: 15px;
                  top: 50%;
                  font-size: 26px;
                  color: $main-color;
                  transform: translateY(-50%);
                }
              }
            }
          }
        }

        .menu {
          .logo-toggle {
            display: none;
            padding: 0 10px;

            .navLogo {
              a {
                color: #fff;
              }
            }

            i.siderbarClose {
              font-size: 38px;
              color: #fff;
            }
          }

          .nav-links {
            display: flex;
            align-items: center;
            column-gap: 60px;

            @include mobile {
              flex-direction: column;
              row-gap: 15px;
            }
            @include tablet-mobile {
              flex-direction: column;
              row-gap: 15px;
            }

            li {
              list-style: none;
              transform: 0.3s ease;

              @include tablet-mobile {
                width: 100%;
                text-align: center;
                box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px;
                &:first-child {
                  margin-top: 32px;
                }
              }

              a {
                position: relative;
                text-decoration: none;
                @include FontJostText;
                font-size: 20px;
                font-weight: 500;
                transform: 0.3s ease;

                &::after {
                  content: "";
                  width: 0;
                  height: 3px;
                  width: 0;
                  position: absolute;
                  left: 0;
                  bottom: -10px;
                  background-color: #c76904;
                  margin: auto;
                  display: block;
                  transition: 0.3s;

                  @include mobile {
                    display: none;
                  }
                  @include tablet-mobile {
                    display: none;
                  }
                }

                &:hover {
                  color: #c76904;
                }

                &:hover::after {
                  width: 100%;
                }

                &.active {
                  color: #c76904;

                  &::after {
                    width: 100%;
                  }
                }
              }

              &.active {
                a {
                  color: #c76904;

                  @include mobile {
                    font-weight: bolder;
                  }

                  &::after {
                    width: 100%;
                  }
                }
              }
            }
          }
        }

        .darkLight-searchBox {
          display: flex;
          align-items: center;

          @include tablet-mobile {
            display: none;
          }

          @include mobile {
            display: none;
          }

          .searchBox {
            position: relative;

            .searchToggle {
              height: 40px;
              width: 40px;

              i {
                position: absolute;
                font-size: 26px;
                cursor: pointer;
                transition: all 0.3s ease;
              }

              i.cancel {
                opacity: 0;
                pointer-events: none;
              }

              &.active {
                i.cancel {
                  opacity: 1;
                  pointer-events: auto;
                }

                i.search {
                  opacity: 0;
                  pointer-events: none;
                }

                ~ .search-field {
                  bottom: -74px;
                  opacity: 1;
                  pointer-events: auto;
                }
              }
            }

            .search-field {
              position: absolute;
              bottom: -85px;
              right: 5px;
              height: 50px;
              width: 300px;
              display: flex;
              align-items: center;
              background-color: $main-color;
              padding: 3px;
              border-radius: 6px;
              box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
              opacity: 0;
              pointer-events: none;
              transition: all 0.3s ease;

              &::before {
                content: "";
                position: absolute;
                right: 14px;
                top: -4px;
                height: 12px;
                width: 12px;
                background-color: $main-color;
                transform: rotate(-45deg);
                z-index: -1;
              }

              input {
                height: 100%;
                width: 100%;
                padding: 0 45px 0 15px;
                outline: none;
                border: none;
                border-radius: 4px;
                @include FontJostText;
                font-size: 14px;
                font-weight: normal;
                background-color: #fff;
              }

              i {
                position: absolute;
                color: $main-color;
                right: 15px;
                font-size: 22px;
                cursor: pointer;
              }
            }
          }
        }

        .search-sm {
          display: none;
        }
      }
    }
  }
}

// Mobile
@media (max-width: 1024px) {
  .header {
    max-width: 100%;
  }
}

/* Thêm đoạn mã CSS sau vào stylesheet của bạn */
.disable-scroll {
  overflow: hidden;
}

@keyframes slideIn {
  from {
    transform: translateX(-100%);
  }

  to {
    transform: translateX(0);
  }
}
