@import "../base/font";
@import "../base/font";
@import "../abstracts/variable";
@import "../abstracts/minxin";

.header {
  margin-top: 54px;
  .logo {
    a {
      text-decoration: none;
      display: flex;
      align-items: center;
      justify-content: center;
      span {
        @include FontDMSerifTitle;
        font-size: 40px;
      }
    }
  }

  .navbar-items {
    line-height: 25px;

    .navbar-item {
      padding: 0px 30px;
      font-size: 20px;
      text-decoration: none;
      color: #000;
      font-weight: 500;
    }

    .active {
      color: #c76904;
    }

    .icon-search {
      color: #141414;
      font-size: 21px;
      margin-top: 2px;
    }
  }
}
