@keyframes fillBars {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}

@keyframes slide {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-100%);
    }
}
