// color
$primary-color: blue;
$secondary-color: #D3A845;
$black-color: #333333;
$white-color: #FFFFFF;
$main-color: #CDA274;
$main-hover-color: rgb(181, 142, 100);
$main-hover-btn-sm: #C76904;

$shadow-box: 0px 2px 4px 3px rgba(0, 0, 0, 0.25);
// modal background
$bg-modal:rgba(51, 51, 51, 0.3);

$marginTop : 154px;


$body-color: #E4E9F7;
$nav-color: #4070F4;
$side-nav: #010718;
$text-color: #FFF;
$search-bar: #F2F2F2;
$search-text: #010718;
